@use '../../../styles/colors' as *;
@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.header {
  padding: 0px 0px 13px 0px;
  background-color: white;

  &__container {
    @include container;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  &__nav {
    display: flex;
    gap: 10px;
  }

  &--mobile {
    .header__container {
      padding: 0 16px;
    }

  }

  &--desktop {
    .header__container {
      padding: 13px 0px 0px 0px;
    }
  }
}